 <h4>Filter Homes</h4>
      <form id="form-filters" class="form-inline" action="" method="post">
        <div class="form-group">
        <label for="builder-filter">Builder</label>
        <input id="builder-filter" type="text"></input>
        </div>
        <div class="form-group">
          <label for="photographer-filter">Photographer</label>
          <input id="photographer-filter" type="text"></input>
        </div>
</form>
<button id="clearhomefilters" class="btn btn-default">Clear Filters</button>