<form id="save-home-notes">
	<div class="form-group" style="margin-top: 10px">
		<label for="home-notes">Project Notes</label>
		<textarea id="home-notes" class="form-control"><%= @homenotes %></textarea>
	</div>
	<div class="form-group">
		<button class="btn btn-primary">Save</button>
	</div>
	<div id="home-notes-success"></div>
</form>
