				<div class="details-box">
					<a class="update-project btn btn-primary" data-toggle="modal" data-target="#update-modal">Update Details</a>
					<div id="order-details">
						<h4>Project: </h4>
						<input id="photos-received" class="num-input" type="text" value="8"></input> photos received of 15
						<div class="photos-usable">
							Usable Photos: <input id="usable-photos" class="num-input" value="8"></input>
						</div>
						<div class="sent-to-editor" data-sent-to-editor="False">
							Sent to Editor: <i class="fa fa-times"></i>
						</div>
					</div>
					<div id="photographer-details">
						<h4>Photographer: </h4>
						<div id="photographer-paid" data-photographer-paid="False">
							Photographer Paid: <i class="fa fa-times"></i>
						</div>
						<div class="name">
							John Doe
						</div>
						<div class="email">
							jdoe@fakemail.com
						</div>
						<div class="phone">
							801-555-5555
						</div>
					</div>
					<div id="builder-details">
						<h4>Builder: </h4>
						FX General Contractors
						<div class="phone">
							855-594-5115
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
