<div class="container">
<div class="row">
<div id="event-column" class="col-sm-6">
<div class="column-header">
<h2 class="">Upcoming Events</h2>
</div>
<% @results.each do |event| %>
<div class="entry" data-parade-id="<%= event.get_parade_id %>">
<h4>
<span class="entry-header">
<%= event.get_parade_name %>
</span><br/>
<%= event.get_city + ", " +  event.get_state %><br/>
<div class="date">
<% unless event.get_start_date.nil? %>
<%= event.get_start_date.to_time.strftime("%b %d, %Y")+ " - " + event.get_end_date.to_time.strftime("%b %d, %Y") %>
<% end %>
</div>
</h4>
</div>
<% end %>
</div>
</div>
<div class="row">
<div id="home-results" class="home-column col-sm-6">
</div>
</div>
<div class="row">
<div id="order-results" class="col-sm-6">
</div>

</div>
</div>
