@import "bootstrap";
@import "bootstrap-sprockets";

body{
	margin: 20px 0 20px 20px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
}

.address {
	color: #DA8E21;
	font-weight: 600;
}

.column-header {
	width:100%;
	height:50px;
	white-space: nowrap;
}

.date {
	margin: auto;
	width: 100%;
	font-weight: 300;
	font-size: 16px;
}

.day {
    font-size: 30px;
    float: left;
}

.details-box {
    width: 100%;
    min-width: 220px;
    border-top: 5px solid #337AB7;
    box-shadow: 2px 5px 10px #909090;
    padding-left: 1em;
    margin-top: 1em;
}

.edit-button {
	float: right;
	background-color: #ED9C28;
	margin-top: 1em;
  position: relative;
  z-index: 1;
}

.entry {
	height: 60px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width:100%;
    margin-top: 5px;
    min-width: 220px;
    text-align: center;
    color: #292929;
    cursor: pointer;
}

.entry:hover {
	box-shadow: 5px 5px 5px grey;
}

.entry h4 {
    padding-left: 5px;
    box-shadow: 2px 2px 10px #909090;
    width: 100%;
    height: 100%;
}

.entry h4:hover {
	border-left: solid 4px #ED9C28;
}

.entry-header {
	font-weight: 600;
}

.fa-check {
    color: green;
    border: solid 2px;
    padding: 2px;
}

.fa-plus-circle {
    margin-left: 1em;
    font-size: 20px!important;
    color: green;
    cursor: pointer;
}

.fa-times {
	color: red;
	border: solid 2px;
	padding: 3px;
}

.hidden {
	display: none;
}

.home-column .entry {
  height: 80px;
}

#home-number {
	float: left;
	color: #ED9C28;
        font-weight: bold;
	font-size: 20px;
}

.modal-header {
	border-bottom: none;
}

.month {
	float: right;
	letter-spacing: 2px;
	font-weight: bolder;
}

.navbar-default {
	background-color: white;
	border-color: white;
}

.nav-pills {
	float:right;
}

.num-input {
	width: 30px;
	text-align: center;
}

.package {
	height: 300px;
    width: 100%;
    border: solid 2px #292929;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
}

#parade-notes {
	margin-top: 3em;
}
.photographer {
	float: left;
}

#photographer-info {
	clear: both;
}

.photos-usable {
	float: right;
	margin-right: 1em;
}

.row-one {
	margin-top: 1em;
}

.selected h4 {
	border-left: solid 4px #ED9C28;
	box-shadow: 2px 2px 1px #909090;
}

.sm-input {
	float: left;
	margin-left: 1em;
}

.sm-input-final {
	float: right;
	margin-right: 2em;
}

.sm-txt-box {
	width: 30px;
	text-align: center;
}

.status-date {
	float: left;
	width: 25%;
	margin: auto;
	margin-left: 5em;
}

.status-header {
	margin: auto;
	width: 25%;
	margin-left: 1em;
	float: left;
}

.status-icon {
	float: left;
	margin: auto;
	width: 25%;
}

.status-icon i {
	cursor: pointer;
}

.status-row {
	margin-top: 1em;
	margin-bottom: 1em;
}

.swag {
	float: right;
	margin-right: 1em;
}

.swag i {
	cursor: pointer;
}

.update-project {
	margin-bottom: 1em;
}

.year {
	float: right;
	clear: right;
}

@media (min-width: 768px) {
	.entry {

	}
}
